/* Snowflakes Animation */
.snowflake {
  font-family: Arial;
  color:#FFFAFA;
}

@-webkit-keyframes snow-fall {
  0% {top:-10%}
  100% {top:100%}
}
@keyframes snow-fall {
  0% {top:-10%}
  100% {top:100%}
}
@-webkit-keyframes snow-shake {
  0% {transform:translateX(0px)}
  50%{transform:translateX(60px)}
  100%{transform:translateX(0px)}
}
@keyframes snow-shake {
  0% {transform:translateX(0px)}
  50%{transform:translateX(60px)}
  100%{transform:translateX(0px)}
} 
.snowflake {
  position:fixed;
  top:-10%;
  z-index:9999;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
  cursor:default;
  -webkit-animation-name:snow-fall,snow-shake;
  -webkit-animation-duration:10s,3s,5s;
  -webkit-animation-timing-function:linear,ease-in-out;
  -webkit-animation-iteration-count:infinite,infinite;
  -webkit-animation-play-state:running,running;
  animation-name:snow-fall,snow-shake;
  animation-duration:10s,3s,5s;
  animation-timing-function:linear,ease-in-out;
  animation-iteration-count:infinite,infinite;
  animation-play-state:running,running;
}
.snowflake:nth-of-type(1){left:1%;-webkit-animation-delay:0s,0s;animation-delay:0s,0s}
.snowflake:nth-of-type(2){left:10%;-webkit-animation-delay:3s,3s;animation-delay:3s,3s}
.snowflake:nth-of-type(3){left:20%;-webkit-animation-delay:7s,.6s;animation-delay:7s,.6s}
.snowflake:nth-of-type(4){left:30%;-webkit-animation-delay:4s,2s;animation-delay:4s,2s}
.snowflake:nth-of-type(5){left:40%;-webkit-animation-delay:2s,1s;animation-delay:2s,1s}
.snowflake:nth-of-type(6){left:50%;-webkit-animation-delay:8s,3s;animation-delay:8s,3s}
.snowflake:nth-of-type(7){left:60%;-webkit-animation-delay:6s,2s;animation-delay:6s,2s}
.snowflake:nth-of-type(8){left:70%;-webkit-animation-delay:2.5s,1s;animation-delay:2.5s,1s}
.snowflake:nth-of-type(9){left:80%;-webkit-animation-delay:1s,0s;animation-delay:1s,0s}
.snowflake:nth-of-type(10){left:90%;-webkit-animation-delay:3s,1.5s;animation-delay:3s,1.5s}

body {
    font-family: Arial, sans-serif;
    background-color: #c9def0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.search-container {
    justify-content: center;
    display: flex;
    width: 100%;
    max-width: 1000px;
    flex-direction: column;
    margin: 50px;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 10px;
    margin-top: -180px;
    margin-left: 150px;
}
.contacts-container {   
    margin-top: 25px;   
    margin-right: 100px;
    width: 90%;
    max-width: 1000px;
    flex-direction: column;
    justify-content: center;
    background: #eef4ed;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 10px;
    border: 2px solid #222;
}
.search-bar {
    size: 50px;
    padding: 10px;
    width: 35%;
    margin-right: 20px;
    margin-left: 60px;
    border: 1px solid #3c5f6c;
    border-radius: 40px;
    font-size: 16px;
}

.contacts-container p {
    margin-bottom: 20px;
}
#Welcome-Username{
    position: absolute;
    left: 100px;
    top: 50px;
    font-size: 30px;
    font-family: "Lucida Handwriting", cursive;
    color:#3c5f6c;
}
#Logout{
    position: absolute;
    right: 100px;
    top: 50px;
}
.fa {
    position: relative;
    left: 50px;
    transition: opacity 2s ease-in-out;
}
button {
    outline: none;
    border: none;
    background: none;
    text-transform: uppercase;
    color: #fcfcfc;
    background: #3c5f6c;
    border: 1px solid #3c5f6c;
    border-radius: 5px;
    width: 100px;
    height: 30px;
    margin: 8px;
    font-weight: bold;
    transition: all 0.5s ease;
}
button:hover {
    cursor: pointer;
    background: #fcfcfc;
    color: #3c5f6c;
}
#add-button{
    margin-left: 100px;
}
.contacts-table {
    margin-top: 20px;
    width: 100%;
    max-height: 800px;
    overflow-y: auto;
}
.contacts-table table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
}
.contacts-table th, .contacts-table td {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}
.contacts-table th {
    background-color: #fcfcfc;
    color:#3c5f6c;
}
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}
.overlay.active {
    display: flex;
}
.bottom-text {
    margin-top: 10px;
    text-align: center;
}
.bottom-text a {
    color:#3c5f6c;
    text-decoration: none;
}
.bottom-text a:hover {
    text-decoration: underline;
}
.contact-container {
    background-color:#eef4ed;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    height: 450px;
}
.contact-container p {
    margin: 0 0 20px;
    text-align: center;
    color:#3c5f6c;
    font-size: 20px;
}
.contact-container label {
    display: block;
    margin-bottom: 5px;
    font-size: 15px;
}
.contact-container input[type="text"],
.contact-container input[type="email"],
.contact-container input[type="tel"],
.contact-container input[type="text"],
.contact-container input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #3c5f6c;
    font-family: Arial, sans-serif;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 15px;
}